json('../../config/colors.json')
// p($colors)

// Z-INDEX
$z-modal = 3000
$z-navigation = 2000
$z-overlay = 1000

// Global Sizes
$nav-height = 50px
$report-start-height = 90px
$report-create-form-height = 80px

// Font Stacks
$display-font = 'Libre Baskerville', serif
$body-font = 'Open Sans', sans-serif
