$dark = #0E2A28
$white = #F0F0D1
$salmon = #CD836A
$magenta = #BF406E
$mint = #62CB62
$yellow = #ffcc66

// Z-INDEX
$z-modal = 3000
$z-navigation = 2000
$z-overlay = 1000

// Global Sizes
$nav-height = 50px
$report-start-height = 100px
$report-create-form-height = 100px

// Font Stacks
$display-font = 'Libre Baskerville', serif
$body-font = 'Open Sans', sans-serif
