api:
  build: ./api
  expose:
    - "3000"
  environment:
    - ENV=DEV
    - PGHOST=db
    - PGDATABASE=postgres
    - PGUSER=postgres
    - PGPASSWORD=mysecretpassword
  volumes:
    - ./api:/var/www/api
    - ./api/node_modules:/var/www/api/node_modules/
  links:
    - db

webpack:
  build: ./web
  expose:
    - "9000"
  volumes:
    - ./web/src:/usr/src/src

nginx:
  image: nginx:latest
  volumes:
    - ./nginx/nginx.dev.conf:/etc/nginx/nginx.conf:ro
  links:
    - api:api
    - webpack:web
  ports:
    - "8080:80"

db:
  image: mdillon/postgis:latest
  ports:
    # Expose database port for tests
    - "5432:5432"
