form
  font-size 1.2rem
label
  display inherit
input[type='number']
  color $colors-salmon
  font-weight bold
  max-width 3rem
  font-size 1.4rem
  border none
  background transparent
  margin 0 1.5rem
.form-group--radio
  display flex
  flex-direction row
  input[type="radio"]
    display none
  label:first-of-type
    border-radius 0.5rem 0 0 0.5rem
  label:last-of-type
    border-left none
    border-radius 0 0.5rem 0.5rem 0
  input[type="radio"]:checked + label
    background-color $colors-mint
    background-color coral
    border-color lighten(@background-color, 30%)
    color $colors-dark
  label
    flex-direction row
    justify-content space-between
    align-items center
    cursor pointer
    height 3rem
    text-align center
    margin 0.5em 0
    padding 1rem
    color $colors-white
    border 1px solid $colors-white
    border-radius 0.5rem
    background-color $colors-dark
    transition background-color 300ms ease-in-out
.form-group--row
  display flex
  flex-direction row
  label
    flex-direction row
    justify-content space-around
    align-items center
    input
      margin-right 0
