html, body
  height 100%
  width 100%
  color $colors-dark
  background-color $colors-white
#root
  height 100%
  min-width 100%
  min-height 100%

.u-padded
  padding 2rem

*[class*="u-flex"]
  display flex
.u-flex--center
  align-items center
.u-flex--column
  flex-direction column

a[href^="https://www.github.com"]
  line-height 0
  font-size 0
  color transparent
  width 51px
  height 50px
  background-image url('~assets/github.svg')
  background-size contain

.hidden
  color transparent
