html, body
  font-family $body-font
  font-size 0.9em
h1, h2, h3, h4
  font-family $display-font
  font-weight 400
  font-style italic
a
  color $colors-magenta
  text-decoration none
  font-style normal
  font-weight bolder
button
  font-family $body-font
ol
  list-style none
  margin 0
  padding 0

p
  line-height 2.4
  max-width 32em
p:first-of-type
  margin-top 1em
p + p
  margin-top 1em

.u-unicode
  font-family sans-serif
.u-dark-bg
  color $colors-white
