html, body
  font-family $body-font
h1, h2, h3, h4
  font-family $display-font
  font-weight 400
  font-style italic
a
  color $magenta
  text-decoration none
  font-style normal
  font-weight bolder
button
  font-family $body-font
ol
  list-style none
  margin 0
  padding 0

p:first-of-type
  margin-top 1em

.u-unicode
  font-family sans-serif
.u-dark-bg
  color $white
