.c-button
  margin 1rem
  color $white
  border 3px solid $white
  max-width 320px
  text-transform uppercase
  cursor pointer
  &:hover
    background-color alpha($dark, 0.8)
    border 3px solid transparent
  a
    color $white
    text-decoration none
  &--lg
    font-size 1.7rem
    padding 1rem 1rem
