.button
  display block
  margin 0.8em
  color $colors-white
  border 3px solid $colors-white
  background-color transparent
  max-width 320px
  text-decoration none
  text-transform uppercase
  cursor pointer
  transition-property background, background-color, border, color
  transition-timing-function ease-in-out
  transition-duration 400ms
  &:hover
    background-color alpha($colors-dark, 0.8)
    border 3px solid transparent
  a
    color $colors-white
    text-decoration none
  &--lg
    font-size 1.50em
    padding 1rem 1rem
  &--dark
    color $colors-dark
    border-color $colors-dark
  &--invert, &--dark
    &:hover
      background-color alpha($colors-mint, 0.5)
  &--facebook
    $color = mix($colors-dark, $colors-salmon)
    background radial-gradient(circle at 50% 100%, $color, $color)
    border transparent !important
    &:hover
      background radial-gradient(circle at 50% 100%, lighten($color, 20%), $color)
  &--google
    $color = mix($colors-dark, $colors-dark)
    background radial-gradient(circle at 50% 100%, $color, $color)
    border transparent !important
    &:hover
      background radial-gradient(circle at 50% 100%, lighten($color, 20%), $color)
