.button
  display inline-block
  margin 1rem
  color $white
  border 3px solid $white
  background-color transparent
  max-width 320px
  text-decoration none
  text-transform uppercase
  cursor pointer
  transition all 500ms ease-in-out
  &:hover
    background-color alpha($dark, 0.8)
    border 3px solid transparent
  a
    color $white
    text-decoration none
  &--lg
    font-size 1.7rem
    padding 1rem 1rem
  &--invert
    &:hover
      background-color alpha($mint, 0.5)
