.geolocator
  display block
  position absolute
  bottom 2rem
  right 1.5rem
  width 40px
  height @width
  border none
  background transparent
  overflow hidden
  cursor pointer
  text-indent -9999px
  transition transform 300ms ease
  z-index 1000
  &:before
    display block
    content ''
    position absolute
    top 0
    left 0
    width @width
    height @width
    background-image url('~assets/compass.svg')
    background-size contain
    background-repeat no-repeat

.geolocator:active
  transform scale(1.1)
.geolocator:hover
  transform scale(1.1) rotate(-30deg)
