.list
  &--row
    list-style none
    display flex
    flex-direction row
    justify-content space-between
  &--vertical
    list-style none
    display flex
    flex-direction column
    align-items center
    li
      margin 1em
