.navigation
  background-color $white
  color $dark
  z-index $z-navigation
  border-top 1px solid alpha($dark, 50%)
  &--list
    display flex
    width 100%
    flex-direction row
    align-items center
    align-content center
    justify-content space-around
    font-size 1.2rem
    li
      display block
