.c-report-record, .c-crane-record
  $list--vertical()
  align-items flex-start
  position relative
  width 100%
  padding-left 1em
  border-left-width 1rem
  border-left-style solid
  li
    width 100%
    margin 0
    padding 0.5em
  span
    margin-right 1rem
.c-report-record
  border-left-color $yellow
.c-crane-record
  border-left-color $mint
li:nth-of-type(2n) .c-report-record
  border-left-color darken($yellow, 10)
