.c-report
  display block
  width 100%
  height 100%
.c-report--forms
  height $report-start-height
  display flex
  background-color $colors-dark
  flex-direction row
  align-content flex-start
  align-items flex-end
  justify-content space-between
.c-report .mapbox-gl-container
  height "calc(100% - %s)" % ($report-start-height)
.c-report .mapbox-gl-container, .c-report--forms
  transition height 300ms ease

.c-report[data-state~="isReporting"] .c-report--forms
  height ($report-start-height + $report-create-form-height)
.c-report[data-state~="isReporting"] .mapbox-gl-container
  height "calc(100% - %s)" % ($report-start-height + $report-create-form-height)
  & .reticle
    margin-top -($report-create-form-height)

.c-report .create-report
  padding 0.5rem
