.c-report-record, .c-crane-record
  margin-top 0.5em
  li:first-of-type
    margin-bottom 0
.c-report-record
  background-color alpha($white, 0.8)
  color $dark
.c-crane-record
  background-color alpha($mint, 0.7)
  color $dark
