$width = 5px
.reticle
  position relative
  width $width
  height $width
  border-radius floor($width / 2)
  background-color $colors-magenta
  transition transform, margin-top 300ms ease
  z-index 1000
  &:after
    position absolute
    display block
    content ''
    width 70px
    height @width
    top -(@width / 2)
    margin-left -((@width - $width) / 2)
    background-color alpha($colors-magenta, 80%)
    border-radius 50%
    animation location_pinging 2000ms ease infinite

@keyframes location_pinging
  from
    transform scale(0.01) rotateX(30deg)
    opacity 1
  to
    transform scale(1) rotateX(30deg)
    opacity 0
