.c-user-profile
  background linear-gradient(30deg, alpha($colors-dark, 0.8), alpha($colors-dark, 0.4))
  margin-bottom 4em
  font-size 1.2em
  padding 0.5em 2em
  box-shadow 10px 10px 50px alpha($colors-dark, 0.2)
  .avatar
    $x = 50px
    width $x
    height $x
  table thead
    color $colors-dark
  table tbody
    color $colors-white
