doctype html
html(lang="en")
  head
    title= htmlWebpackPlugin.options.title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic,700|Open+Sans:600", rel="stylesheet", type="text/css")
  body
    #root
