doctype html
html(lang="en")
  head
    title "Cranes of Seattle"
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic,700|Open+Sans:600", rel="stylesheet", type="text/css")
    link(href="/assets/styles.css", rel="stylesheet", type="text/css")
  body
    #root
      .loading-bar
      !{content}
    script(src="/assets/main.js")
