.l-entry
  width 100%
  height 700px
  max-height 100%

.l-entry__hero
  padding 1rem
  width 100%
  height 100%
  color $white
  background-image url('~assets/crane_bg.jpeg')
  background-size cover
  background-position top right
