.l-main
  display block
  position absolute
  left 0
  top 0
  width 100%
  height 100%
  overflow hidden
  .navigation
    position absolute
    bottom 0
    left 0
    width 100%
    height $nav-height
  .c-report, .c-explore, .l-entry
    height 'calc(100% - %s)' % $nav-height
