.map-layout
  position absolute
  width 100%
  height 100%
  left 0
  top 0
  .c-map-container,
  .c-content-container
    position absolute
    width 100%
    height 100%
    left 0
    top 0
  .c-map-container
    z-index 0
  .c-content-container
    overflow-x hidden
    overflow-y scroll
    background-color white
    opacity 0.5
    z-index 100
