.l-map
  position absolute
  width 100%
  height 100%
  left 0
  top 0
  .s-map,
  .l-content
    position absolute
    width 100%
    height 100%
    left 0
    top 0
  .s-map
    z-index 0
  .l-content
    overflow-x hidden
    overflow-y scroll
    background-color white
    z-index 100

.l-map--isMapActive
  .l-content
    max-height 100%
    height auto
    background $dark
    overflow hidden
