*, *:before, *:after
  box-sizing border-box

html, body
  margin 0
  padding 0

.c-report-button
  position absolute
  left 50%
  bottom 20px
  transform translate3d(-50%, 0, 0)
  background-color coral
  color white
  font-size 1.8em
  border none
  padding 0.3em 0.5em
  border-radius 10px
  &:hover
    background-color red
