testdb:
  image: mdillon/postgis:latest
  environment:
    - POSTGRES_DB=test

testapi:
  build: .
  dockerfile: Dockerfile.test
  environment:
    - ENV=TEST
    - PGDATABASE=test
    - PGUSER=postgres
    - PGPASSWORD=mysecretpassword
    - GOOGLE_OAUTH_ID=mygoogleid
    - GOOGLE_OAUTH_SECRET=googlesupersecret
    - TOKEN_SECRET=supersecret
  volumes:
    - ./:/var/www/api
  links:
    - testdb:db
